@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');
h2{
    text-decoration-line: underline;
    font-family: "Playwrite IN", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
