.header{
    color: white;
    border-radius: 20px;
    background: url(../img/Night-sky.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 300px;
    width: 100%;
    background-size: 100% 100%;
    margin-top: 30px;
}

.col-12{
    background-color: lightgray;
    border-radius: 20px;
    border: 2px solid transparent;
    background-clip: padding-box;
}